.outer{
  --bg-circle-color: #0000800C;
  padding: 5rem 0 3rem;
  background-color: var(--accent-100);
  background-image: radial-gradient(min(40vw, 20rem) at 0% 3rem, var(--bg-circle-color)  50%, transparent 50.25%),
                    radial-gradient(min(100vw, 40rem) at 100% 100%, var(--bg-circle-color)  50%, transparent 50.25%);
}

.card {
  background-color: var(--white);
  padding: 1rem;
}

.section {
  padding-bottom: 3rem;
}

.section-heading {
  color: var(--accent-900);
}

.section-text p{
  padding: 1rem 0;
  line-height: 1.5rem;
  word-spacing: normal;
  letter-spacing: normal;
  text-align: justify;
}

.strong {
  color: var(--accent-900);;
}
