<div class="outer">
  <div container="true">
    <div class="card">
      <div class="section">
        <h2 class="section-heading">What is Insurance?</h2>
        <div class="section-text">
          <p>
            Insurance is a legal agreement between two parties i.e. the insurance company (insurer) and the individual
            (insured). In this, the insurance company promises to make good the losses of the insured on happening of
            the insured contingency. The contingency is the event which causes a loss. It can be the death of the
            policyholder or damage/destruction of the property. It’s called a contingency because there’s an uncertainty
            regarding happening of the event. The insured pays a premium in return for the promise made by the insurer.
          </p>
        </div>
      </div>
      <div class="section">
        <h2 class="section-heading">Types of Insurance</h2>
        <div class="section-text">
          <ol>
            <li>
              <p><span class="strong">Life insurance:</span> Life insurance is insurance on your life. You buy life
                insurance to make sure your dependents are financially secured in the event of your untimely demise.
                Life insurance is particularly important if you are the sole breadwinner for your family or if your
                family is heavily reliant on your income.</p>
            </li>
            <li>
              <p><span class="strong">Health insurance:</span> Health insurance is bought to cover medical costs for
                expensive treatments. Different types of health insurance policies cover an array of diseases and
                ailments.</p>
            </li>
            <li>
              <p><span class="strong">Car insurance:</span> In today’s world, car insurance is an important policy for
                every car owner. This insurance protects you against any untoward incident like accidents. Some policies
                also compensate for damages to your car during natural calamities like floods or earthquakes. It also
                covers third-party liability where you have to pay damages to other vehicle owners.</p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>