<div>
  <div class="content" [ngClass]="{'mobile' : isMobile, 'left' : !isMobile}"></div>
  <div class="content" [ngClass]="{'mobile' : isMobile, 'right' : !isMobile}"></div>
</div>
<div>
  <div class="content" [ngClass]="{'mobile' : isMobile, 'left' : !isMobile}"></div>
  <div class="content" [ngClass]="{'mobile' : isMobile, 'right' : !isMobile}"></div>
</div>
<div>
  <div class="content" [ngClass]="{'mobile' : isMobile, 'left' : !isMobile}"></div>
  <div class="content" [ngClass]="{'mobile' : isMobile, 'right' : !isMobile}"></div>
</div>
<div>
  <div class="content" [ngClass]="{'mobile' : isMobile, 'left' : !isMobile}"></div>
  <div class="content" [ngClass]="{'mobile' : isMobile, 'right' : !isMobile}"></div>
</div>
