.content {
  background-color: white;
  height: 400px;
  border: 0px;
  padding: 0px;
  border-radius: 20px;
  box-shadow: rgb(172, 172, 172) 0px 0px 10px 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.left {
  float: left;
  margin-left: 6%;
  margin-right: 3%;
  width: 41%;
}

.right {
  float: right;
  margin-left: 3%;
  margin-right: 6%;
  width: 41%;
}

.mobile {
  margin-left: 6%;
  margin-right: 6%;
  width: 88%;
}

