<div class="outer">
  <div container="true">
    <div class="card">
      <div class="section">
        <h2 class="section-heading">Other Investment Services</h2>
        <div class="section-text">
          <ul>
            <li>Trading & investment in Equity / Currency / Commodity</li>
            <li>Get value investment call</li>
            <li>Tech positional call</li>
            <li>Intraday call</li>
            <li>Pivot call</li>
            <li>Momentum traders call</li>
            <li>BTST / STBT call</li>
          </ul>
        </div>
      </div>
      <div class="section">
        <h2 class="section-heading">IAP ( intelligent advisory portfolio)</h2>
        <div class="section-text">
          <p>A diverse range of pre-packaged equity products ideal for both traders and investors who want to
            participate in the markets, but do not have enough time to manage their portfolios.</p>
          <ul>
            <li> Guided advisory by RIAs</li>
            <li>Personalized insights</li>
            <li>Regular monitoring</li>
            <li>Time saving</li>
            <li>Money management</li>
            <li>Active participation</li>
          </ul>
        </div>
      </div>
      <div class="section">
        <h2 class="section-heading">PMS service</h2>
        <div class="section-text">
          <p>
            Portfolio Management Service (PMS) is a professional financial service where skilled portfolio managers and
            stock market professionals manage your equity portfolio with the assistance of a research team.PMS
            Management Services is a customized investment avenue for High Net Worth and Ultra High Net Worth clients.
          </p>
        </div>
      </div>
      <div class="section">
        <h2 class="section-heading">Alternative investment fund (AIF)</h2>
        <div class="section-text">
          <p>
            We manage fixed income alternate investment funds (AIFs) that manage highly diversified credit portfolios.
            These AIFs connect global and domestic capital with highly promising enterprises that power India’s growth,
            employment, and innovation.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>