<div class="outer">
  <div container="true">
    <div class="card">
      <div class="section">
        <h2 class="section-heading">What is NPS?</h2>
        <div class="section-text">
          <p>
            National Pension Scheme (NPS) India is a voluntary and long-term investment plan for retirement
            under the purview of the <span class="section-text-bold">Pension Fund Regulatory and Development Authority (PFRDA) and
            Central Government.</span>
          </p>
          <p>
            The scheme encourages people to invest in a pension account at regular intervals during the course
            of their employment. After retirement, the subscribers can take out a certain percentage of the
            corpus. As an NPS account holder, you will receive the remaining amount as a monthly pension post
            your retirement.
          </p>
          <p>
            Earlier, the NPS scheme covered only the Central Government employees. Now, however, the
            PFRDA has made it open to all Indian citizens on a voluntary basis.
          </p>
          <p>
            ​At the time of normal exit from NPS, the subscribers may use the accumulated pension wealth under
            the scheme to purchase a life annuity from a PFRDA empaneled Life Insurance Company apart from
            withdrawing a part of the accumulated pension wealth as lump-sum, if they choose so.
          </p>
        </div>
      </div>
      <div class="section">
        <h2 class="section-heading">Tax efficiency – NPS tax benefit</h2>
        <div class="section-text">
          <p>
            There is a deduction of up to Rs.1.5 lakh to be claimed for NPS – for your contribution as well as for
            the contribution of the employer. – 80CCD(1) covers the self-contribution, which is a part of Section
            80C.
          </p>
          <p>
            The maximum deduction one can claim under 80CCD(1) is 10% of the salary, but no more than the
            said limit. For the self-employed taxpayer, this limit is 20% of the gross income.
          </p>
          <p>
            Section 80CCD(2) covers the employer’s NPS contribution, which will not form a part of Section 80C.
            This benefit is not available for self-employed taxpayers.
          </p>
        </div>
      </div>
      <div class="section">
        <h2 class="section-heading">Withdrawal Rules After 60</h2>
        <div class="section-text">
          <p>
            Contrary to common belief, you cannot withdraw the entire corpus of the NPS scheme after your
            retirement. You are compulsorily required to keep aside at least 40% of the corpus to receive a
            regular pension from a PFRDA-registered insurance firm.
          </p>
          <p>
            The remaining 60% is tax-free now. The latest update from the government says that the entire NPS
            withdrawal corpus is exempt from tax.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>