.header {
  background-color: var(--accent-100);
  padding: 2rem 0;
}

.header>div[container=true] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .logo {
    display: inline-block;
    border: var(--accent-100) solid 1px;
    box-sizing: border-box;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
  }

  .logo-text {
    display: inline-block;
    color: var(--accent-900);
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    padding: 0 0.5rem;
  }

  .nav-button {
    border : none;
    background-color: transparent;
    vertical-align: middle;
  }

  .nav-button>svg {
    height: 2rem;
    width: 2rem;
    fill: var(--black);
  }


.nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 2rem;
  background-color: var(--white);
  transition: transform 200ms ease-in-out;
  display: flex;
  flex-direction: column;
}

  .nav-hide {
    transform: translateX(-100vw);
  }

  .nav>button {
    align-self: flex-end;
  }

  .nav>a {
    display:block;
    padding: 1.5rem;
    border-bottom: 1px solid var(--black);
    font-weight: 500;
  }

  .nav>.nav-active {
    color: var(--accent-900);
    font-weight: 700;
    cursor: default;
  }

  /*navigation links (if not active), hover and focus state*/
  .nav>a:not(.nav-active):hover,
  .nav>a:not(.nav-active):focus {
    color: var(--accent-900);
  }






        .contact-us {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: var(--white);
          margin: 0.5rem 0.5rem 0.5rem 0.5rem;
          padding: 0.5rem;
          border-radius: 5px;
        }

                .contact-us > p {
                  font-size: 1rem;
                  color: var(--accent-900);
                  letter-spacing: 0.1rem;
                  padding:.25rem;
                }

                .contact-us>h3{
                  color: var(--accent-900);
                  font-weight: 900;
                  font-size: 1.5rem;
                  padding-left: 2rem;
                }

                .contact-email,
                .contact-phone,
                .contact-whatsapp {
                  height: 1.5rem;
                  width: 1.5rem;
                  vertical-align: middle;
                  fill: var(--accent-900);
                  padding-right: 0.5rem;
                }

                .contact-whatsapp {
                  fill: #25D366;
                }



.main-body {
  background-color: var(--white);
}


@keyframes initial-entry {
  0% {
    transform: translateY(-20rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

@keyframes expand {
  0%{
    height: 0;
    transform: scale(1, 0);
  }
  1%{
    height: fit-content;
    transform: scale(1, 0);
  }

  100% {
    height: fit-content;
    transform: scale(1, 1);
  }
}

@keyframes collapse {
  1000%{
    height: 0;
    transform: scale(1, 0);
  }
  99%{
    height: fit-content;
    transform: scale(1, 0);
  }

  0% {
    height: fit-content;
    transform: scale(1, 1);
  }
}





@media (min-width: 900px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav {
    position:unset;
    width: auto;
    height: auto;
    padding: 0;
    background: none;
    flex-direction: row;
  }

  .nav>a {
    border: none;
    padding: 0 0 0 1.5rem;
  }

  .nav-hide {
    transform: none;
  }

  .nav-button {
    display: none;
  }



  .body-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }


}