@import url(../common.css);


.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--accent-900);
  box-shadow: var(--shadow-standard);
  position: relative;
  z-index: 10;
}

        .logo-container {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
        }

                .logo {
                  border: var(--accent-100) solid 0.5rem;
                  box-sizing: border-box;
                  border-radius: 50%;
                  height: 5rem;
                  width: 5rem;
                  margin: 0.5rem;
                  background-color: var(--white);
                }

                .logo-text {
                  color: var(--white);
                }

                .logo-text>h1 {
                  font-size: 3rem;
                  font-weight: 900;
                  text-align: center;
                  margin: 0.25rem 0 0 0;

                }

                .logo-text>h2 {
                  font-size: 1.5rem;
                  font-weight: 700;
                  font-style: italic;
                  text-align: center;
                  margin: 0 0 0.25rem 0;
                }

        .contact-us {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: var(--white);
          margin: 0.5rem 0.5rem 0.5rem 0.5rem;
          padding: 0.5rem;
          border-radius: 5px;
        }

                .contact-us > p {
                  font-size: 1rem;
                  color: var(--accent-900);
                  letter-spacing: 0.1rem;
                  padding:.25rem;
                }

                .contact-us>h3{
                  color: var(--accent-900);
                  font-weight: 900;
                  font-size: 1.5rem;
                  padding-left: 2rem;
                }

                .contact-email,
                .contact-phone,
                .contact-whatsapp {
                  height: 1.5rem;
                  width: 1.5rem;
                  vertical-align: middle;
                  fill: var(--accent-900);
                  padding-right: 0.5rem;
                }

                .contact-whatsapp {
                  fill: #25D366;
                }


.body-container {
  position: relative;
  background-color: var(--white);
  z-index: 1;
}

.nav-container {
  background-color: var(--accent-100);
}

        .nav {
          background-color: var(--accent-100);
          height: 0;
          transform: scale(1, 0);
          animation-name: collapse;
          transform-origin: top;
          animation-duration: 200ms;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards;
        }

                .nav-open {
                  animation-name: expand;
                  animation-duration: 200ms;
                  animation-timing-function: ease-in-out;
                  animation-fill-mode: forwards;
                }

                .nav>a {
                  margin: 0;
                  display:block;
                  padding: 1.5rem;
                  border-bottom: 1px solid var(--accent-900);
                  color: var(--accent-900);
                  font-weight: 700;
                }

                .nav>.nav-active {
                  color: var(--accent-900);
                  background-color: var(--accent-200);
                  box-shadow: inset var(--shadow-standard);
                  cursor: default;
                }

                .nav>a:not(.nav-active):hover{
                  background-color: var(--accent-900);
                  color: var(--accent-100);
                }

        .nav-button {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--accent-100);
          border : none;
          box-shadow: var(--shadow-standard);
          width: 100%;
          position: relative;
          z-index: 0;
        }

        .nav-button-div {
          background-color: var(--accent-900);
          height: 2rem;
          width: 2rem;
          margin-top: 0.25rem;
          clip-path: polygon(0 0, 50% 30%, 100% 0, 100% 70%, 50% 100%, 0 70%);
          transition: transform var(--nav-animation);
        }

        .rotate {
          transform: rotate(-180deg);
        }

        .main-body {
          z-index: -1;
        }


@keyframes initial-entry {
  0% {
    transform: translateY(-20rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

@keyframes expand {
  0%{
    height: 0;
    transform: scale(1, 0);
  }
  1%{
    height: fit-content;
    transform: scale(1, 0);
  }

  100% {
    height: fit-content;
    transform: scale(1, 1);
  }
}

@keyframes collapse {
  1000%{
    height: 0;
    transform: scale(1, 0);
  }
  99%{
    height: fit-content;
    transform: scale(1, 0);
  }

  0% {
    height: fit-content;
    transform: scale(1, 1);
  }
}





@media (min-width: 900px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .body-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .nav-container {
    flex: 0 0 max-content;
    border-right: 1px solid var(--accent-900);
  }

  .nav {
    height: auto;
    animation: none;
    transform: none;
    transition: none;
  }

  .nav-button {
    display: none;
  }
}