<div class="header-container">
  <img src="../assets/fundline_logo.svg" class="logo" />
  <div class="title-container">
    <p class="title">FUNDLINE</p>
    <p class="subtitle">Your Financial Partner</p>
  </div>
  <div class="contact-container">
    <p style="font-weight: 700;">Contact Us</p>
    <P>Ayanesh Talukdar</P>
    <p>Email Id : abc@email.com</p>
    <p>Contact No : 9876543210</p>
  </div>
</div>

<div class="body-container">
  <div class="nav-container">
    <a href="/">Home</a>
    <a href="/">Insurance</a>
    <a href="/">Mutual Fund</a>
    <a href="/">Types Of Mutual Fund</a>
    <a href="/">Advantages of Mutual Fund</a>
  </div>
  <div>
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nulla, maxime accusamus vitae est sit placeat quod delectus. Repudiandae recusandae sed ipsa unde tenetur eum sequi, magni sint sit velit.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nulla, maxime accusamus vitae est sit placeat quod delectus. Repudiandae recusandae sed ipsa unde tenetur eum sequi, magni sint sit velit.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nulla, maxime accusamus vitae est sit placeat quod delectus. Repudiandae recusandae sed ipsa unde tenetur eum sequi, magni sint sit velit.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nulla, maxime accusamus vitae est sit placeat quod delectus. Repudiandae recusandae sed ipsa unde tenetur eum sequi, magni sint sit velit.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nulla, maxime accusamus vitae est sit placeat quod delectus. Repudiandae recusandae sed ipsa unde tenetur eum sequi, magni sint sit velit.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nulla, maxime accusamus vitae est sit placeat quod delectus. Repudiandae recusandae sed ipsa unde tenetur eum sequi, magni sint sit velit.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nulla, maxime accusamus vitae est sit placeat quod delectus. Repudiandae recusandae sed ipsa unde tenetur eum sequi, magni sint sit velit.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nulla, maxime accusamus vitae est sit placeat quod delectus. Repudiandae recusandae sed ipsa unde tenetur eum sequi, magni sint sit velit.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nulla, maxime accusamus vitae est sit placeat quod delectus. Repudiandae recusandae sed ipsa unde tenetur eum sequi, magni sint sit velit.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nulla, maxime accusamus vitae est sit placeat quod delectus. Repudiandae recusandae sed ipsa unde tenetur eum sequi, magni sint sit velit.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nulla, maxime accusamus vitae est sit placeat quod delectus. Repudiandae recusandae sed ipsa unde tenetur eum sequi, magni sint sit velit.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nulla, maxime accusamus vitae est sit placeat quod delectus. Repudiandae recusandae sed ipsa unde tenetur eum sequi, magni sint sit velit.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nulla, maxime accusamus vitae est sit placeat quod delectus. Repudiandae recusandae sed ipsa unde tenetur eum sequi, magni sint sit velit.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nulla, maxime accusamus vitae est sit placeat quod delectus. Repudiandae recusandae sed ipsa unde tenetur eum sequi, magni sint sit velit.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nulla, maxime accusamus vitae est sit placeat quod delectus. Repudiandae recusandae sed ipsa unde tenetur eum sequi, magni sint sit velit.
    </div>

  </div>
</div>