<div class="header-container">
  <div class="logo-title-container">
    <img src="../assets/fundline_logo.svg" class="logo" />
    <div class="title-container">
      <p class="title">FUNDLINE</p>
      <p class="subtitle">Your Financial Partner</p>
    </div>
  </div>
  <div class="contact-container">
    <p style="font-weight: 700;">Contact Us</p>
    <P>Ayanesh Talukdar</P>
    <p>Email Id : abc@email.com</p>
    <p>Contact No : 9876543210</p>
  </div>
</div>

<div class="body-container">
  <div class="nav-container">
    <a (click)="activate(0)" [ngClass]="{'nav-active':active[0]}">Home</a>
    <a (click)="activate(1)" [ngClass]="{'nav-active':active[1]}">Insurance</a>
    <a (click)="activate(2)" [ngClass]="{'nav-active':active[2]}">Mutual Fund</a>
    <a (click)="activate(3)" [ngClass]="{'nav-active':active[3]}">Types Of Mutual Fund</a>
    <a (click)="activate(4)" [ngClass]="{'nav-active':active[4]}">Advantages of Mutual Fund</a>
  </div>
  <div>
  </div>
</div>