<div class="header-container">
  <div class="logo-title-container">
    <img src="../assets/fundline_logo.svg" class="logo" />
    <div class="title-container">
      <h1 class="title">FUNDLINE</h1>
      <h1 class="subtitle">Your Financial Partner</h1>
    </div>
  </div>
  <div class="contact-container">
    <h2>Contact Us</h2>
    <h3>Ayanesh Talukdar</h3>
    <h3>Email Id : <span>abc@email.com</span></h3>
    <h3>Contact No : <span>9876543210</span></h3>
  </div>
</div>

<div class="body-container">
  <div class="nav-container" [ngClass]="{'nav-container-open':isNavOpen}">
    <a (click)="navOpenClose()" routerLink="home" routerLinkActive="nav-active">Home</a>
    <a (click)="navOpenClose()" routerLink="insurance" routerLinkActive="nav-active">Insurance</a>
    <a (click)="navOpenClose()" routerLink="mutual-fund" routerLinkActive="nav-active">Mutual Fund</a>
    <a (click)="navOpenClose()" routerLink="types-of-mutual-fund" routerLinkActive="nav-active">Types Of Mutual Fund</a>
    <a (click)="navOpenClose()" routerLink="advantages-of-mutual-fund" routerLinkActive="nav-active">Advantages of Mutual Fund</a>
  </div>
  <button class="nav-button"  (click)="navOpenClose()">
    <div class="nav-button-div" [ngClass]="{'rotate':isNavOpen}"></div>
  </button>
  <div class="main-body">
    <router-outlet></router-outlet>
  </div>
</div>