<div class="outer">
  <div container="true">
    <div class="card">
      <div class="section">
        <h2 class="section-heading">What Is Portfolio Management Services?</h2>
        <div class="section-text">
          <p>
            Portfolio Management Service (PMS) is a facility offered by a portfolio manager with the intent to achieve the required rate of return within the desired level of risk. An investment portfolio can be a mix of stocks, fixed income, commodities, real estate, other structured products, and cash. A portfolio manager is a licensed investment professional who specializes in analysing the investment objectives of the investor and has a vast knowledge of the various instruments in the market. The portfolio manager is better positioned to make informed decisions for investments in securities as opposed to a layman.
          </p>
          <p>
            Portfolio management services or PMS offer customised investment solutions to investors to help them attain their financial goals. Portfolio management services construct investment portfolios across various investment options, and portfolio managers take care of the investment portfolio.
          </p>
          <p>
            Portfolio management services help investors maximise returns over time by focusing on the time horizon, risk profile and investment objectives.
          </p>
        </div>
      </div>
      <div class="section">
        <h2 class="section-heading">Why LFS-PMS?</h2>
        <div class="section-text">
          <p>
            Our most important value is integrity. No matter who our direct client is, we are always aware that in the end, we are managing someone’s hard-earned resources. We strive to deserve their trust in our character and competence.
          </p>
          <p>
            LFS Broking Pvt Ltd is a SEBI registered Portfolio Management Service (PMS) provider vide registration number INP000006721. LFS-PMS is a research-focused investment firm that focuses on investing in high quality publicly listed Indian companies, which have superior business model and significant potential to offer long term capital appreciation.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>