<div class="outer">
  <div container="true">
    <div class="card">
      <div class="section">
        <h2 class="section-heading">What is Liquiloans?</h2>
        <div class="section-text">
          <p>
            "LiquiLoans" are a 4+yr old RBI Regulated Profitable P2P NBFC, through which we offer a Safe Fixed Income
            Investment Product (CRISIL Ratings Assessed & ICRA (AA-) Rated*) with minimum risk & inflation beating high
            returns (nearly 1.5-2x of Traditional Instruments). Through our platform, Lenders / Investors get an
            Exclusive Exposure to High Credit Bureau Rated (Avg. 700+ Credit Score), Largely Salaried Retail Borrowers;
            wherein an investor can choose to invest in a Highly Diversified Portfolio of Retail Loans and Maximize
            Capital Safety.
          </p>
          <p>
            100% Success Rate (Since Inception) in Meeting Indicated Yields Up to 9.35% XIRR
          </p>
          <p>
            <span class="strong">Total Disbursals:</span> Rs. 908+ Crs | Gross NPA: 0.71% | Total Borrowers: 273,000+ |
            Indicative Gross Yield to Investors: Up to 9.35% XIRR Max. | Total Lenders: 20,900+
          </p>
        </div>
      </div>
      <div class="section">
        <h2 class="section-heading">Platform Characteristics:</h2>
        <div class="section-text">
          <p>
            <span class="strong">Prime Retail Loans:</span> Option to Invest in High Quality Retail Loans (Originated
            from Disc. Non Fatal Healthcare, Up-skilling Education & Home Decor Segments etc.) to Creditworthy Borrowers
            (Largely Zero Cost EMI Loans).
          </p>
          <p>
            <span class="strong">RBI Regulated & Monitored Platform:</span> Funds flow only through an Escrow Bank &
            Managed by an Independent Trustee.
          </p>
          <p>
            <span class="strong">100% Alignment of Interest:</span> There is very high alignment of interest, since
            LiquiLoans fee shall be payable only in scenarios where the Investor’s Portfolio Return is Greater than the
            Indicative Yield. As LiquiLoans fee shall be Zero in scenarios where Investor’s Portfolio Return is Less
            than the Indicative Yield, there is very strong incentive to collect/recover all EMIs from each borrower.
          </p>
          <p>
            <span class="strong">Indicative Borrower Profile:</span> Largely Salaried, High Credit Bureau Score Rated
            Individuals in Tier I & Tier II Cities (Avg. Credit Bureau Score of 700+)
          </p>
          <p>
            <span class="strong">Payout Options:</span> Monthly Interest Payout / Cumulative Payout
          </p>
        </div>
      </div>
    </div>
  </div>
</div>