.outer {
  margin-left: 4%;
  margin-right: 5px;
  height: fit-content;
}

.transition {
  transition: 50ms;
}

.floatLeft {
  float: left;
}

.logo-margin {
  margin: 0px;
}

.headerText {
  display: block;
}