/* You can add global styles to this file, and also import other style files */

/*************Inter Font**************/
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/font/Inter/Inter-Regular.woff2?v=3.18") format("woff2"),
       url("./assets/font/Inter/Inter-Regular.woff?v=3.18") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/font/Inter/Inter-Italic.woff2?v=3.18") format("woff2"),
       url("./assets/font/Inter/Inter-Italic.woff?v=3.18") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/font/Inter/Inter-Bold.woff2?v=3.18") format("woff2"),
       url("./assets/font/Inter/Inter-Bold.woff?v=3.18") format("woff");
}

/*************Metropolis Font**************/
@font-face {
  font-family: 'Metropolis';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/font/Metropolis/Metropolis-Regular.woff2") format("woff2"),
       url("./assets/font/Metropolis/Metropolis-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Metropolis';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/font/Metropolis/Metropolis-RegularItalic.woff") format("woff2"),
       url("./assets/font/Metropolis/Metropolis-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: 'Metropolis';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/font/Metropolis/Metropolis-Bold.woff2") format("woff2"),
       url("./assets/font/Metropolis/Metropolis-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Metropolis';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/font/Metropolis/Metropolis-BoldItalic.woff2") format("woff2"),
       url("./assets/font/Metropolis/Metropolis-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Metropolis';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("./assets/font/Metropolis/Metropolis-Black.woff2") format("woff2"),
       url("./assets/font/Metropolis/Metropolis-Black.woff") format("woff");
}
/***********End of Font Import*************/

/***********Typography**********/
body, h1, h2, h3 {
  font-family: 'Metropolis', sans-serif;
}

p {
  font-family: 'Inter', sans-serif;
}


/**********Reset*******/
html, body {
  margin: 0;
  padding: 0;
  border: none;
}

a, a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
}

h1,h2,h3 {
  font-size: 1rem;
  font-weight: normal;
}




body {
  background-color: #f5f5f5;
}
