@import url(../../common.css);


.hero-container {
  background-color: var(--accent-100);
  padding: 0.5rem;
}

  .hero-subtitle {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
  }

  .hero-title {
    font-size: 4rem;
    font-weight: 900;
    color: var(--accent-900);
    text-align: center;
  }

  .hero-text {
    font-size: 1.25rem;
    padding: 1rem;
    margin-top: 1rem;
  }

.app-container {
    background-color: var(--accent-100);
    margin : 8em 0em;
    padding-bottom: 1rem;
}

        .app-text {
            display: flex;
            flex-direction: column;
            width: 15.5rem;
            margin-left: auto;
            margin-right: auto;
            line-height: 1.75em;
        }

                .app-subtitle {
                    font-size: 1.5rem;
                    margin-top: 2rem;
                }

                .app-title>* {
                    font-size: 2.25rem;
                    font-weight: 900;
                    color: var(--accent-900);
                }

                .app-feature {
                    margin-top: 3em;
                    margin-left: 2rem;
                    line-height: 4rem;
                }

                        .app-feature>li {
                            position: relative;
                            font-size: 1rem;
                        }

                        .app-feature >li::before {
                            content: url(../../assets/tick.svg);
                            height: 2rem;
                            width: 2rem;
                            position: absolute;
                            left: -3rem;
                            top: 0.75rem;
                        }

        .app-img {
            height: 20rem;
            width: 15.5rem;
            margin-left: auto;
            margin-right: auto;
            background-color: var(--white);
            border: 1px solid var(--accent-900);
            border-bottom: none;
            border-top-left-radius: 2.5rem;
            border-top-right-radius: 2.5rem;
            margin-top: 4rem;
        }


.partner-container {
    margin-top: 5rem;
}

.partner-banner {
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.thumb-up {
    height: 3.25rem;
    width: 3.25rem;
    fill: var(--accent-900);
}

.partner-subtitle {
    font-size: 1.5rem;
    color: var(--accent-900);
}

.partner-title {
    font-size: 2.25rem;
    font-weight: 900;
}

.partner-title>span {
    color: var(--accent-900);
}

.partner-mutual-fund, .partner-insurance {
    margin-top: 1rem;
    font-size: 1.5rem;
}


@media (min-width: 900px) {
    .app-container {
        display: flex;
    }
}